<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.gigadevice.debug.gdlink.launchConfigurationType">
    <stringAttribute key="com.gigadevice.debug.gdlink.server" value="Openocd"/>
    <stringAttribute key="com.gigadevice.debug.launch.codeinRAM" value=""/>
    <stringAttribute key="com.gigadevice.debug.launch.device" value="GD32VW553HMQ7"/>
    <stringAttribute key="com.gigadevice.debug.launch.initCommands" value="set mem inaccessible-by-default off&#13;&#10;set arch riscv:rv32&#13;&#10;set remotetimeout 250"/>
    <stringAttribute key="com.gigadevice.debug.launch.interface" value="jtag"/>
    <stringAttribute key="com.gigadevice.debug.launch.ipAddress" value="localhost"/>
    <stringAttribute key="com.gigadevice.debug.launch.jtagDevice" value="GD-Link"/>
    <intAttribute key="com.gigadevice.debug.launch.portNumber" value="3333"/>
    <stringAttribute key="com.gigadevice.debug.launch.remoteCommand" value="target remote"/>
    <stringAttribute key="com.gigadevice.debug.launch.resetCommands.indebug" value="monitor reset init&#13;&#10;load&#13;&#10;"/>
    <stringAttribute key="com.gigadevice.debug.launch.resetCommands.inrun" value="monitor reset init&#13;&#10;load&#13;&#10;"/>
    <stringAttribute key="com.gigadevice.debug.launch.runCommands.indebug" value="monitor reset halt&#13;&#10;monitor halt&#13;&#10;tbreak main&#13;&#10;continue&#13;&#10;"/>
    <stringAttribute key="com.gigadevice.debug.launch.runCommands.inrun" value="monitor reset halt&#13;&#10;continue&#13;&#10;continue&#13;&#10;"/>
    <stringAttribute key="com.gigadevice.debug.launch.serverParam" value="-f C:\Users\stapi\OneDrive\Desktop\GD32VW553\GD32VW55X_Wifi_BLE_SDK\GD32VW55x_RELEASE_V1.0.2\MSDK\projects\eclipse\msdk\openocd_gdlink.cfg"/>
    <stringAttribute key="com.gigadevice.debug.launch.svdpath" value="C:\Users\stapi\OneDrive\Desktop\GD32VW553\EmbeddedBuilder_v1.4.7.26843\EmbeddedBuilder\plugins\com.gigadevice.resources_1.0.0.202411131826\svd\"/>
    <booleanAttribute key="com.gigadevice.debug.launch.useRemoteTarget" value="true"/>
    <stringAttribute key="com.gigadevice.debug.openocd.location" value="C:\Users\stapi\OneDrive\Desktop\GD32VW553\EmbeddedBuilder_v1.4.7.26843\Tools\OpenOCD\xpack-openocd-0.11.0-3\bin\openocd.exe"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="C:/Users/stapi/OneDrive/Desktop/GD32VW553/EmbeddedBuilder_v1.4.7.26843\Tools\nuclei_riscv_newlibc_prebuilt_win32_2022.04\gcc\bin\riscv-nuclei-elf-gdb.exe"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.UPDATE_THREADLIST_ON_SUSPEND" value="false"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="msdk_ffd\MSDK.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="MSDK"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.gigadevice.mbs.riscv.configuration.debug.465677685.2123400702"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/MSDK"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_APPEND_TO_FILE" value="true"/>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="C:\Users\stapi\OneDrive\Desktop\GD32VW553\GD32VW55X_Wifi_BLE_SDK\GD32VW55x_RELEASE_V1.0.2\MSDK\projects\eclipse\msdk\debug_log.txt"/>
    <stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
